body {
  background: url(http://static1.1.sqspcdn.com/static/f/1351620/21913724/1360715095940/Temptations+of+Christ+by+Botticelli.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ember-application {
    margin: 20px;
}
