<h3>Add Answer:</h3>

<form>
  <div class="form-group">
    <label for="description">Description:</label>
    {{input name="description" class="form-control" value=description}}
  </div>
  <button class='btn btn-success' {{action 'addAnswer'}}>Submit Answer</button>
  <br>
  <br>
</form>
